<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>app</filter-name>
  	<display-name>app</display-name>
  	<description></description>
  	<filter-class>com.blbz.login.controller.app</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>app</filter-name>
  	<url-pattern>/app</url-pattern>
  </filter-mapping>

  
</web-app>
